{% extends 'projects/base.html'%}

{% block content %}
<div> <a href="{% url 'profile' project.user.id %} "> <h2>profile</h2> </a></div>



<form action="{% url 'total' project.id   %}" method="POST">
    {% csrf_token %}
<div>
<ul >
        <li>Created by: {{project.user}}</li>      

    <li> donations : {{project.user.donations}}</li>
{% if project.image  %}
    <image src="{{project.image.url}}" alt="{{project.image.url}}" style="margin-left: 300px;"  width="600" height="400">


        <br>
        
{% endif %}

    <br>
    <li><h3> Title:{{project.title}}</h3> </li>
    <li>Details:{{ project.details}} </li>
    <li> category : {{project.category}}</li>
    <li> total_target : {{project.total_target}}</li>
    <li> Average rate : {{project.avg_rate}}</li>
    <br>
    <br>
    <h3> Tags:</h3>
    {% for key in project.Tags.values %}
           <li> {{ key.name }}</li>
    {% endfor %}
    <br>
    <br>

    <li>Donation: <input id="number" type='number' label='donate value: ' name='donate0' value="{{project.donate}}" /></li>
    <li>Rating : <input id="number" type='number' label='rating value: ' name='rating' value="{{project.rate}}" /></li>
<br>
    <button type="submit" name="Submit" ">Donate</button>

    {% if project.reported == True %}
    <h2><font color="red">Reported Project </font> </li></h2>
    {% endif %}

   
</ul>



</div>


</form>

<form action ="{% url 'photos' project.id %}" method="POST"  accept-charset="utf-8" enctype="multipart/form-data">

    {% csrf_token %}

    <label for="myfile">Select a file:</label>
<input type="file" id="myfile" name="images">
<input id="text"  type="hidden" label='project: ' name='project'  value="{{project.id}}" >

    <button type="submit" name="Submit">Add Photo</button>

  <div>
<h3> photos:</h3> 

    {% for photo in photos %}
    <image src="{{photo.images.url}}" alt="{{photo.images.url}}"   width="200" height="200">
        
    {% endfor %}
    
</div>

</form>



<br>
<br>

<form action="{% url 'comment' project.id   %}" method="POST">
    {% csrf_token %}

    Comments :
 <ol>   
    {% for comm in comments %}
    

       <li> {{ comm }} &emsp; &emsp;         {% if comm.reported == True %}
        <font color="red">Reported Comment</font> </li>
        {% else %}
        <a href="{% url 'report' project.id comm.id %} "> report comment</a>
        {% endif %}
    {% endfor %}
    

 </ol>

    <input id="text" type='textarea' label='comment: ' name='comment' placeholder="add comment" value="" />
    <button type="submit" name="Submit">Add comment</button>
</form>


<br>





{% endblock %}