{% extends 'projects/base.html'%}

{% block content %}
<form action ="{% url 'Register' %}" method="POST"  accept-charset="utf-8" enctype="multipart/form-data">
   
  {% csrf_token %}

  {% if error == "Invalid mobile phone number it should be like that 01123456789" %}

<div class ="alert alert-danger "  role="alert"  style ="background-color:rgb(245, 100, 100); "  >
    {{error}}
</div>

{% elif error == "Password and confirmation not matching" %}
<div class ="alert alert-danger "  role="alert"  style ="background-color:rgb(245, 100, 100); "  >
    {{error}}
</div>

{% elif error == "Upload an image,Please" %}
<div class ="alert alert-danger "  role="alert"  style ="background-color:rgb(245, 100, 100); "  >
    {{error}}
</div>
    {% endif %}


    
    {{ form.as_p }} 

    
    <button type="submit" name="Submit">Submit</button>


</form>


{% endblock %}