form 
{
    border: 6px solid rgb(112, 136, 112) ;
    border-radius: 15px;
    font-size: x-large;
    background-color:;
  }


  h1{
    
display: flex;
justify-content: center;
    text-align: center;
    color:#46bf1a;
  
}

a { text-decoration: none; }


button
{
  font-size: x-large;
}


input{

  font-size: x-large;
}

button {

  background-color:#0a0a23;
  color: #fff;
}